html,
body {
  border: none;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: monospace, sans-serif;
  font-size: 18px;
  background: white;
  overflow: hidden;
}

.progress {
  border: #dfdfdf solid 1px;
  width: 100%;
  height: 30px;
  border-radius: 30px;
  overflow: inherit;
  position: relative;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12), 0 6px 18px rgba(20, 30, 50, 0.08);
  position: relative;
  background: aliceblue;
}

/* полоска-заливка */
.progress-bar {
  height: 100%;
  position: relative;
  border-radius: 30px;
  transition: width 0.5s cubic-bezier(.4, .8, .6, 1);
  background: linear-gradient(90deg,
      rgba(42, 93, 176, 0.45) 70%,
      rgba(42, 93, 176, 0.3) 80%,
      rgba(248, 248, 248, 0) 100%);
  min-width: 7%;
  max-width: 90%;
}

.progress-text {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  pointer-events: none;
  transition: color 0.3s ease;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  padding: 17px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(255, 255, 255, 0.2), inset 0 -2px 2px rgba(0, 0, 0, 0.4);
}

.progress-text.low {
  background: #b9d3fd;
}

.progress-text.normal {
  background: linear-gradient(176deg, #0055b8 0%, #72a6fa 100%);
}

.testWrapper {
  margin: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.ping__contanier {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  color: #45679c;
  border-radius: 50px;
  padding: 10px 24px;
  box-shadow: inset 0 0 10px 1px rgb(43 115 208), 4px 3px 8px rgb(74 136 231 / 20%);
  border: #5982c5 solid 1px;
}

.speed__contanier {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 20px;
  width: 100%;
}

.button {
  border-radius: 30px;
  text-decoration: none;
  height: 55px;
  width: 360px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(255, 255, 255, 0.2), inset 0 -2px 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(176deg, #45679c 0%, #72a6fa 100%);
  color: white;
}

.button.running {
  background: #b9d3fd;
  color: white;
  opacity: 0.6;
  pointer-events: none;
}

.meterText {
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
}

.unit {
  font-size: 14px;
  color: #555;
}

.timer {
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}