@media (max-width: 650px) {
    .testWrapper {
        width: 300px;
    }

    .progress-bar {
        min-width: 15%;
    }

    .button {
        width: 300px;
    }
}

@media (max-width: 350px) {
    .testWrapper {
        width: 200px;
    }

    .progress-bar {
        min-width: 19%;
    }

    .button {
        width: 200px;
    }
}