@media (max-width: 650px) {
    .testWrapper {
        width: 300px;
        gap: 20px;
    }

    .progress-bar {
        min-width: 15%;
    }

    .button {
        width: 300px;
    }

    .speed__contanier {
        gap: 12px;
    }

    .progress-text {
        padding: 14px;
    }

    .dropdown-header {
        width: 270px !important;
        font-size: 12px;
    }

    .dropdown-item {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .testWrapper {
        width: 200px;
    }

    .progress-bar {
        min-width: 19%;
    }

    .button {
        width: 200px;
    }
}